<h1 class="ms-3 mb-2">Your bookings</h1>
<div class="container d-flex justify-content-center">
  <div class="m-2 p-2 bg-white w-25 rounded-5">
    <% user.lair.bookings.each do |booking| %>
      <% if booking.user_id ==  %>
      <h2><%= booking.user.name %></h2>
      <h2><%= booking.date %></h2>
      <button><%= link_to("Accept", confirmation_booking_path) %></button>
      <p>
        <h4><%= booking.lair.title %></h4>
        <% @lair.photos.each do |photo| %>
          <%= cl_image_tag photo.key, width: 300, height: 300, class: "small-photo"  %>
        <% end %>
        <p><%= booking.lair.description %></p>
        <p>Price: <%= booking.lair.price %></p>
        <p>Location: <%= booking.lair.location %></p>
        <p>Category: <%= booking.lair.category %></p>
      </p>
    <% end %>
  </div>
</div>
