<h1 class="ms-3 mb-2">Bookings to accept</h1>
<div class="container d-flex justify-content-center">
  <% current_user.lairs.each do |lair| %>
    <% lair.bookings.each do |booking| %>
      <%# <% if booking.user_id == booking.lair.user_id %>
        <div class="m-2 p-2 bg-white w-25 rounded-5">
          <h2><%= booking.user.first_name %> <%= booking.user.last_name %></h2>
          <p>
            <h4><%= booking.lair.title %></h4>
            <% lair.photos.each do |photo| %>
              <%= cl_image_tag photo.key, width: 300, height: 300, class: "small-photo"  %>
            <% end %>
            <p><%= booking.lair.description %></p>
            <p>Start date:<%= booking.start_date %></p>
            <p>Finsh date:<%= booking.end_date %></p>
            <p>Price: <%= booking.lair.price %></p>
            <p>Location: <%= booking.lair.location %></p>
            <p>Category: <%= booking.lair.category %></p>
          </p>
        </div>
      <%# <% end %>
    <% end %>
  <% end %>
</div>
