<h1>Bookings</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Lair</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th>Booking ID</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @booking.lair.title %></td>
        <td><%= @booking.start_date.strftime("%Y-%m-%d") %></td>
        <td><%= @booking.end_date.strftime("%Y-%m-%d") %></td>
        <td><%= @booking.accepted ? "Confirmed" : "Pending" %></td>
        <td><%= @booking.id %></td>
        <td>
          <% if @booking.accepted %>
            <%= link_to "Cancel", confirm_lair_booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
          <% else %>
            <%= link_to "Confirm", confirm_lair_booking_path, data: { turbo_method: :patch }, class: "btn btn-sm btn-success" %>
          <% end %>
        </td>
      </tr>
  </tbody>
</table>
