<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Lairs", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
<div class = "container">

  <div class="info text-center p-5">
    <h3>Add your Lair to Lairbnb</h3>
    <h5>If you dare </h5>
  </div>

  <div class="new_lair_form p-5 mt-2 mx-auto border rounded">
    <%= simple_form_for(@lair) do |f| %>
      <%= f.input :title, placeholder: "Enter your Lairs name", label: "Lair's name"%>
      <%= f.input :location, placeholder: "Enter your Lairs location" %>
      <%= f.input :category, collection: %w[island mountain countryside space underground], prompt: "Select a category"  %>
      <%= f.input :price, placeholder: "Cost per night" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }%>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<p>test</p>

<div class = footer>
</div>
